@import "tailwindcss";

:root {
    list-style-type: none;
}

@theme inline {
    
    --pixel-border-colour: red;

}

@utility pixel-border-* {
    --box-shadow-width: calc(--value(integer)*1px);
    --pixel-box-shadow: calc(-1 * (var(--box-shadow-width))) 0 0 0 var(--tw-ring-color), var(--box-shadow-width) 0 0 0 var(--tw-ring-color), 0 var(--box-shadow-width) 0 0 var(--tw-ring-color), 0 calc(-1 * (var(--box-shadow-width))) 0 0 var(--tw-ring-color);
    
        box-shadow: var(--pixel-box-shadow)
        
    }



@layer components {
}